.gallery {
   margin-bottom: 150px;
   & > .container .secondary-title {
      margin-bottom: 80px;

      /* Tablet Big */
      @media (max-width: 1199px) {
         margin-bottom: 50px;
      }
   }

   /* Tablet Small*/
   @media (max-width: 899px) {
      margin-bottom: 120px;
   }

   /* Mobile*/
   @media (max-width: 599px) {
      margin-bottom: 114px;
   }
}
.gallerry__photos-wrapper {
   position: relative;
   max-width: 1305px;
   margin-left: auto;
   margin-right: auto;

   /* Descktop */
   @media (max-width: 1539px) {
      max-width: 1170px;
   }
}
.photos {
   display: flex;
   column-gap: 22px;

   /* Descktop */
   @media (max-width: 1539px) {
      column-gap: 0;
      justify-content: space-around;
   }

   /* Tablet Small*/
   @media (max-width: 899px) {
      display: none;
   }
}

.photos__complex {
   display: flex;
   flex-direction: column;
   row-gap: 23px;
}

.photos__mix {
   display: flex;
   column-gap: 22px;
}

.photos__arrows {
   position: absolute;
   width: 47px;
   height: 47px;
   cursor: pointer;
   top: 50%;
   z-index: 2;

   @include transition;

   svg {
      opacity: 0.23;
      @include transition;

      /* Descktop */
      @media (max-width: 1539px) {
         fill: $blue-dark;
         opacity: 0.8;
      }
   }

   &:hover svg {
      fill: $blue-dark;
      opacity: 0.6;

      /* Descktop */
      @media (max-width: 1539px) {
         opacity: 1;
      }
   }

   /* Descktop */
   @media (max-width: 1539px) {
      top: 40%;
   }

   /* Mobile*/
   @media (max-width: 529px) {
      display: none;
   }
}
.arrow-left {
   left: -23px;
   transform: translate(-100%, -50%);

   /* Descktop */
   @media (max-width: 1539px) {
      left: 60px;
   }
}
.arrow-right {
   right: -23px;
   transform: translate(100%, -50%);

   /* Descktop */
   @media (max-width: 1539px) {
      right: 60px;
   }
}

.photos__tall {
   background: url(photo_2023-05-10_08-41-39.jpg);
   border-radius: 35px;
   overflow: hidden;
   height: 643px;

   /* Descktop */
   @media (max-width: 1539px) {
      height: 585px;
      width: 330px;
   }

   /* Tablet Big */
   @media (max-width: 1199px) {
      height: 500px;
      width: 260px;
   }

   img {
      max-width: unset;
      width: 419px;
      height: 100%;

      /* Descktop */
      @media (max-width: 1539px) {
         width: unset;
      }
   }
}

.photos__small {
   width: 312px;
   height: 310px;
   border-radius: 35px;
   overflow: hidden;
   img {
      max-width: unset;
   }

   /* Descktop */
   @media (max-width: 1539px) {
      width: 280px;
      height: 280px;
   }

   /* Tablet Big */
   @media (max-width: 1199px) {
      height: 240px;
      width: 240px;

      img {
         max-width: 100%;
         width: 100%;
      }
   }
}
.photos__wide {
   width: 531px;
   height: 310px;
   border-radius: 35px;
   overflow: hidden;
   img {
      max-width: unset;
   }

   /* Descktop */
   @media (max-width: 1539px) {
      width: 500px;
      height: 280px;
   }

   /* Tablet Big */
   @media (max-width: 1199px) {
      height: 240px;
      width: 300px;

      img {
         // max-width: 100%;
         width: unset;
      }
   }
}

// Photos mobile

#photos-mobile {
   display: none;

   /* Tablet Small*/
   @media (max-width: 899px) {
      display: block;

      &.owl-theme .owl-dots {
         display: flex;
         align-items: center;
         justify-content: center;
      }

      &.owl-theme .owl-dots .owl-dot span {
         background-color: #daddf6;
      }

      &.owl-theme .owl-dots .owl-dot.active span {
         width: 19px;
         height: 19px;
         background-color: #5763ae;
      }
   }
}
.photos-mobile {
   display: none;
   /* Tablet Small*/
   @media (max-width: 899px) {
      display: flex;
      justify-content: center;

      .photos-mobile__img {
         display: inline-block;
         width: 381px;
         height: 500px;

         /* Mobile*/
         @media (max-width: 599px) {
            width: 350px;
            height: 418px;
         }

         /* Mobile Small */
         @media (max-width: 374px) {
            height: 340px;
         }
      }
   }
}
